{#=====================================================
  task page
  - Shows details of a single task
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single task

{% endblock %}


{% block content %}

    <h1>A Single task...</h1>


    <article>

        <header>
            <h2>{{ task.name }}</h2>
        </header>

        <h3>Priority: {{ task.priority }}</h3>

        <h3>Description of task:</h3>

        <p>{{ task.description }}</p>
        <form action="/priority/{{ task.id }}" method="POST">
            <input
                name="priority"
                type="number"
                max="6"
                min="1"
                placeholder="Update task priority?"
            >

            <button>Update?</button>
        </form>

        <footer>
            <a href="/delete/{{ task.id }}" onclick="return confirm('Really delete?');">Delete</a>
        </footer>

    </article>


    <a role="button" href="/">Back to task List</a>

{% endblock %}

