{#=====================================================
  Tasks list page
  - List of tasks passed in as 'tasks' array
  - Form for adding a new task
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All tasks

{% endblock %}


{% block content %}

    <h1>TO DO LIST :DDDDD</h1>

    <article>

        <h3>Add a New Task...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new task"
                required
            >

            <input
                type="number"
                name="priority"
                min="0"
                max="6"
                placeholder="Priority of new task, 1-5"
                required
            >

            <input
                type="text"
                name="description"
                placeholder="Description of task (optional)"
            >

            <button>Add the Task</button>

        </form>

    </article>

    <article>

        <ul>
            {% for task in tasks %}

                <li class="task">
                    <a href="/task/{{ task.id }}">{{ task.name }}</a>
                    <p>Priority: {{ task.priority }}</p>
                    {% if complete == 1:%}
                        <a role="button" href="/incomplete/{{ task.id }}">Incomplete</a>
                    {% else: %}
                        <a role="button" href="/complete/{{ task.id }}">Complete</a>
                    {% endif %}
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

{% endblock %}

